@import url( 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background:  rgba(241, 218, 230, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.card-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}


.product-inner-box .onsale .badge{
    background: #000;
    font-size: 12px;
    padding: 5px 14px;
    top: 0px;
    position: absolute;
}

.product-inner-box .onsale .badge:before{
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent #000;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    bottom: 0;
    border-style: solid;
}

.product-inner-box .onsale .badge::after{
    border-width: 10px 8px 0px 10px;
    border-color: #000 transparent transparent;
    content: "";
    position: absolute;
    right: -8px;
    width: 0;
    top: 0;
    border-style: solid;
}

.product-inner-box img{
    box-shadow: 0 33px 61px -29px rgb(0 0 0 / 26%);
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.product-box.is-hover .icons {
    transform: rotate(-3%);
    top: 3%;
    opacity: 1;
}

.cart-btn {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.product-box.is-hover .cart-btn{
    opacity: 1;
}



.navbar-brand,
.offcanvas-body
.nav-link {
    color: black !important; /* Set navbar brand and link color to black */
}

/* You may also need to adjust the hover and active link styles */


.c-item {
    height: 660px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(10px);
    }
    .offcanvas-body
    .nav-link {
        color: rgb(255, 255, 255) !important; /* Set navbar brand and link color to black */
    }

    
}
